{
  "extends": "segment/browser",

  "rules": {
    "global-strict": 0,
    "max-len": 0,
    // FIXME: Remove this when linting error has been fixed
    "no-use-before-define": 0,
    "strict": 1
  },

  "globals": {
    "exports": true,
    "module": true,
    "require": true
  }
}
